.zone_header {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  color: #2c3e50;
}

.zone_header_icon {
  width: 22px;
  height: 22px;
  filter: drop-shadow(1px 1px 2px #aaa);
}

.zone_header_title {
  color: #2D2D2D;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.zone_graph {
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0);
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 
    0 8px 16px rgba(0, 0, 0, 0.14),
    0 0 2px rgba(52, 37, 255, 1);
  backdrop-filter: blur(9.1px);
  padding: 0 12px;
  transition: all 0.2s ease-in-out;
}