.analytics_header_and_search_bar{
    display:flex;
    justify-content: space-between;
    width:100%;
    
}


.analytics_header{
    display:flex;
    width:50%;
    gap:5px;
    align-items: center;

}

.analytics_header_text_para{
    font-size: 14px;
    color:#575757;
    margin-top:3px;
}


.analytics_heading{
    font-weight: bold;
}

.searchbar_wrapper{
    border-radius:10px;  
    position: relative;  
    width:40%;
    

}
.custom_search_bar{
  border:1px solid #DCDCDC;
  background-color: #ffff;
  width: 100% !important;
  border-radius: 10px;
  box-sizing: border-box;
 
   
}

.custom_search_bar input{
    background-color:#ffff ;

   
}

