.search_component {
  width: 50%;
}

.tophead_searchflex {
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #EBECEF;
  background: #FAFAFA;
  padding: 8px 14px;
  width: 60%;
}

.search_icon {
  width: 17px;
  height: 17px;
}

input[type="text"]{
  flex:1;
  border:none;
  font-size: 16px;
  outline:none;
  background-color: transparent;
}



