.all_graphs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap:14px;
  padding: 0px 5px;
}

.bars {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.bars_and_year {
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.red_bar_wrapper {
  width: 18px;
  height: 150px;
  background-color: transparent;
  border-radius: 8px;
  position: relative;
}

.red_bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 8px;
  background: linear-gradient(to bottom, #f31616, #8d0d6f);
}

.green_bar_wrapper {
  width: 18px;
  height: 150px;
  background-color: transparent;
  border-radius: 8px;
  position: relative;
}

.green_bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 8px;
  background: linear-gradient(to bottom, #45d92e, #07968f);
}

.year {
  font-size: 11px;
  color: #718ebf;
  font-weight: 500;
}
