

.whole_container {
  display:flex;
  flex-direction: row;
  background-color: #f6f8f9;
  flex:1;
}

aside {
  position: fixed;
  width: 17%;
  border-right: 1px solid #e5e9eb;
  background: #fff;
  z-index: 499;
  height:100vh;
  overflow-y: auto;
  scrollbar-width: none;      
  -ms-overflow-style: none;
}

aside::-webkit-scrollbar {
   display: none;               
}

.main_content {
  width: calc(100vw - 17%);
  padding: 10px;
  box-sizing: border-box;
  margin-top: 54px;
  margin-left: 17%;
}

.analytics_wrapper {
  display: flex;
  margin-top: 10px;
  gap: 15px;
  width: 100%;
}

.prev_years_graphs_section {
  width: 30%;
}
